div.section
    h1 Krótka dokumentacja SAPI
        p SAPI używa graphql do obsługi swoich zapytań, poniżej będa opisane możliwości
        h2 Zapytania
        ul
            li getMetaDetails, query metaDetails - pobiera sumę kontrolną aktualnych danych, czas ostatniej aktualizacji
            li query currencies - pobiera kursy
    